<div class="mt-2 product-item">
    <a href="{{ path('app_product_slug', {'slug' : product.slug })}}"><img class="img-fluid" src="/assets/illustration/{{product.illustration}}" alt="{{product.name}}" width=260></a>
    <h5 class="mt-2">{{product.name}}</h5>
    <span class=" product-subtitle">{{product.subtitle}}</span>
    <span class="product-price">{{ (product.price / 100) | number_format(2, ',', '.') }} £</span>
</div>
